<app-alerta [service]="alertaService"></app-alerta>
<div class="card animated fadeIn">
    <div class="card-header">
        <div class="pull-left mt-1">
            <strong>Adicionar Usuário</strong>
        </div>
        <a [routerLink]="['/usuarios']" class="btn btn-outline-secondary mt-1 pull-right" role="button">
            <i class="fa fa-angle-left"></i>&nbsp;Voltar para Usuários
        </a>     
    </div>
    <div class="card-body mb-0">
        <div class="form-row">
            <div class="col-md-6">
                <label>
                    <strong>Nome</strong>
                </label>
                <input required uppercase type="text" id="firstName" name="firstName" maxlength="20"
                 [(ngModel)] = "user.firstName" class="form-control text-uppercase">
            </div>
            <div class="col-sm-6">
                <label>
                    <strong>Sobrenome</strong>
                </label>
                <input required uppercase type="text" id="lastName" maxlength="40" name="lastName" 
                class="form-control text-uppercase" [(ngModel)]="user.lastName">
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6">
                <label>
                    <strong>E-mail</strong>
                </label>
                <input required type="text" id="email" maxlength="40" name="email" 
                class="form-control" [(ngModel)]="user.email">
            </div>
            <div class="col-sm-6">
                <label>
                    <strong>Data de nasc.</strong>
                </label>
                <input required minlength="10" maxlength="10" type="text" class="form-control" bsDatepicker [(bsValue)]="user.birthday" bsDatepicker
                                    #birthday="bsDatepicker" id="birthday" name="birthday" 
                                    value="{{ user.birthday | date: 'dd/MM/yyyy' }}"
                                    [(ngModel)]="user.birthday"
                                    [bsConfig]="bsConfig" placeholder="dd/mm/aaaa" #dtNasc="ngModel"> 
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6">
                <label>
                    <strong>Login</strong>
                </label>
                <input required [disabled]="isAlteraCadastro()"  required type="text" id="login" maxlength="40" name="login" 
                class="form-control" [(ngModel)]="user.login">
            </div>
            <div class="col-sm-6">
                <label>
                    <strong>Senha</strong>
                </label>
                <input required type="password" id="password" maxlength="40" name="password" 
                class="form-control" [(ngModel)]="user.password">
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6">
                <label>
                    <strong>Telefone</strong>
                </label>
                <input required uppercase type="text" id="phone" maxlength="40" name="phone" 
                mask="(99) 90000-0000"
                class="form-control text-uppercase" [(ngModel)]="user.phone">
            </div>
            <div class="col-sm-6">
                <div *ngIf="isAlteraCadastro() && user.cars != undefined && user.cars != null">
                  <strong>Veículos deste usuário:</strong>
                  <label>
                      <span class="fa fa-car"></span>&nbsp;{{car.licensePlate}} - {{car.model}} - {{car.color}} - {{car.year}}
                  </label>
                </div>
                <div *ngIf="!isAlteraCadastro()">
                  <label><strong>Selecione um veículo:&nbsp;<small>(<a routerLink="/veiculos/formulario">Clique para cadastrar</a>)</small></strong></label>
                  <select [compareWith]="compareCar" class="form-control" id="car" [(ngModel)]="user.cars" name="car" required #car="ngModel">
                      <option *ngFor="let car of cars" [ngValue]="c">{{car.licensePlate}} - {{car.model}}</option>
                  </select>
              </div>
              <br/>
        </div>
        <div class="form-row">
            <div class="col-sm-12 margin-bottom-10">
                <button type="button" class="btn btn-success btn-lg btn-block" (click) = "save()"><i class="fa fa-save"></i>&nbsp;Salvar</button>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-12 margin-bottom-10">
                <button type="button" class="btn btn-danger btn-lg btn-block" (click) = "delete()"><i class="fa fa-trash-o"></i>&nbsp;Apagar</button>
            </div>
        </div>
    </div>
</div>
